import * as React from 'react'
import type { FC } from 'react'
import { useTranslation } from 'react-i18next'
import '../styles.scss'

type Props = {}

const {{pascalCase name}}: FC<Props> = () => {
  const { t } = useTranslation(['lang'])

  return (
    <div className="{{lowerCase name}}__of{{ofpage}}">
      {{pascalCase name}}
    </div>
  )
}

export default {{pascalCase name}}
